<p>products works!</p>
<div class="d-flex flex-wrap">
    <div class="w-50">
        <ul>
            <li *ngFor=" let product of products">
                <a [routerLink]="['prodictdetails', product.title]" [queryParams]="product">{{product.title}}</a>
                <!-- <img src="{{product.image}}" width="200px">
                <p>Category : {{product.category}}</p> -->
            </li>
        </ul>
    </div>
    <div class="w-50">
        <h1>Details</h1>
        <router-outlet></router-outlet>
    </div>
</div>
